#index__page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cover {
    height: 150px;
    width: 90%;
    display: flex;
    background-size: cover !important;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1em;
    color: #FFFFFF;
    font-size: 1.30em;
}

#text__index {
    display: flex;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    color: #FFFFFF;
    font-size: 2em;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 20px;
}

li {
    list-style-type: none;
}

.article__li {
    margin: 1.5em;
    width: 100%;
    max-width: 450px;
}

.article {
    position: relative;
    height: 50vh;
    border-radius: 10px;
}

.article__title {
    position: absolute;
    bottom: 0;
    left: 1em;
    font-size: 1em;
    color: #FFFFFF;
}

.article__cover {
    width: 100%;
    height: 100%;
    border-radius: 25px;

    object-fit: cover;
}

@media only screen and (min-width:550px){
    #articles {
        background-color: #F1F1F1;
        width: 90%;
    }

    .article__li {
        max-width: 400px;
    }

    #cover {
        font-size: 1.8em;
    }
}